html,
body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    background: url("../images/concrete_seamless.png");
    margin: 0;
    line-height: 175%;
    /* font-weight: 600; */
    font-size: 18px;
}

.logo {
    width: 250px;
    height: 90px;
    background-color: #4aaaa5;
    margin-left: 161px;
    float: left;
}

.logo h1 {
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    line-height: 90px;
}

h1,
h2,
h3 {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-weight: 900;
    color: #4aaaa5;
}

h1 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

header {
    background-color: #ffffff;
    border-bottom: 2px;
    border-color: #cccccc;
    border-style: solid;
    height: 90px;
    min-width: 960px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: 140px;
    line-height: 5;
}

li {
    float: left;
    display: block;
}

.nav-bar-links {
    /* display: block;   */
    padding: 10px;
    text-decoration: none;
}

a:link {
    color: #777777;
}

.nav-bar-links a:hover {
    color: #4aaaa5;
}

a:visited {
    color: #777777;
}

#thick {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #777777 inset;
}

.content {
    /* margin: auto; */
    margin-left: 155px;
    margin-bottom: 50px;
    width: 960px;
    /* max-block-size: -50px;   */
    padding: 5px;
    margin-top: 35px;
    min-height: calc(100vh - 315px);
    clear: both;
}

#about {
    width: 650px;
    float: left;
    padding: 0 25px 35px 25px;  
    box-sizing: border-box;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

#para {
    padding-top: 30px;
}

aside {
    box-sizing: border-box;
    background-color: #ffffff;
    float: right;
    width: 270px;
    padding: 30px 30px 45px 30px;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

aside ul li {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

#connect {
    text-align: center;
    margin: 0;
    border: 0;
    padding-bottom: 25px;
}

#profile {
    height: 200px;
    width: 150px;
    float: left;
    padding: 37px 20px 0 0;
}

hr {
    padding: 0;
    margin: 0;
}

section h1 {
    padding: 35px 0 30px 0;
}

.icons {
    height: 62px;
    width: 62px;
    padding: 3px;
    margin: 0;
}

.image_wrapper {
    position: relative;
    height: 205px;
    width: 275px;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-right: 20px; */

}
.image_wrapper:nth-child(odd) {
    margin-right: 45px;
}

.images {
    height: 100%;
    width: 100%;
}

.image_wrapper h3 {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    height: 60px;
    width: 275px;
    padding-top: 15px;
    box-sizing: border-box;
}

h6 {
    padding-top: 40px;
    font-size: 12px;
    color: #c1c1c1;
}

footer {
    background-color: #666666;
    height: 100px;
    text-align: center;
    border-top: 7px;
    border-color: #57b0ab;
    border-style: solid;
    clear: both;
    margin-top: 20px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}